/* Base css file for index.html*/
/* Header and footer edits are included in all other html files*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', sans-serif;
}

/* Navigation edits*/
.headernavbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 25px;
    width: 100%;
    background: black;
}

.headernavbar .logo img{
    height: 200px;
    max-width: 200px;
}

.headernavbar h2{
    font-size: 64px;
    font-weight: 900;
    color: white;
}

nav{
    gap: 20px;
    padding: 15px 25px;
    width: 100%;
}

.header_item a{
    position: relative;
    text-decoration: none; 
    color: white;  
    font-size: 32;
    font-weight: 500;
    margin: 40px;
}

.header_item a::before{
    content:'';
    position: absolute;
    background: yellow;
    width: 0;
    height: 2px;
    top:100%;
    left:0;
    transition: 0.5s ease;
}

.header_item a:hover{
    color: yellow;
}
.header_item a:hover::before{
    width: 100%;
}
 
/* Main content hero*/
.hero-container-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 100px;
    background: linear-gradient(135deg, #000000 0%, #002266 50%, #007BFF 100%);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* left column */
.hero-content-left{
    flex: 1;
}

.hero-content-left h1 {
    font-size: 90;
    font-weight: 700;
    background: -webkit-linear-gradient(20deg, #FFD700 10%, #00BFFF 50%, #00BFFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content-left p {
    margin-top: 40px;
    font-size: 32;
    font-weight: 350;
    background: -webkit-linear-gradient(20deg, #FFD700 10%, #00BFFF 50%, #00BFFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content-left a{
    display: inline-block;
    font-size: 24;
    text-decoration: none;
    color: yellow;
    padding-top: 40px;
    border-radius: 10px;
    transition: 0.5 ease;
}

.hero-content-left a:hover{
    background: yellow;
    color: blue;
    transform: scale(1.05);
}



/*right column*/
.hero-content-right{
    justify-content: center;
    flex: 1.5;
    display: flex; 
}

.hero-content-right img {
    max-width: 100%;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

/* Image animation*/
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

/* footer contents */
.footer_container {
    display: flex;
    padding: 50px;
    background: black;
    color: white;
}

.footer_item {
    padding-top: 40px;
    flex: 1;
    text-align: center;
}

.footer_item h2 {
    font-size: 64px; 
    font-weight: 700;
    margin-bottom: 40px;
}


.footer_item a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
    transition: 0.5s ease;
}

.footer_item a::before{
    content:'';
    position: absolute;
    background: yellow;
    width: 0%;
    height: 2px;
    top: 100%;
    left:0;
    transition: 0.5s ease;
}

.footer_item a:hover{
    color: yellow;
}

.footer_item a:hover::before{
    width: 100%;
}

@media (max-width: 768px) {
    .headernavbar {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;   
    }

    .headernavbar h2 {
        font-size: 28px;
        margin-top: 10px;
    }

    /* change direction of navigation bar for other pages as well*/
    nav {
        flex-direction: column;
        gap: 10px;
        padding: 10px 15px;
    }

    /* header changes for mobile*/
    .header_item a {
        font-size: 20px;
        margin: 10px 0;
    }

    .hero-container-row {
        flex-direction: column;
        gap: 30px;
    }

    .hero-content-left h1 {
        font-size: 36px;
        text-align: center;
    }

    .hero-content-left p {
        font-size: 18px;
        text-align: center;
    }

    .hero-content-left a {
        font-size: 18px;
        text-align: center;
        align-items: center;
    }

    .hero-content-right {
        justify-content: center;
    }

    .hero-content-right img {
        width: 100%;
        max-width: 900px;
    }

    /* footer changes for mobile*/
    .footer_container {
        flex-direction: column;
        text-align: center;
    }

    .footer_item h2 {
        font-size: 28px;
    }

    .footer_item a {
        font-size: 18px;
    }
}
