@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Roboto Mono', sans-serif;
}

/* Main page background changes*/
.contact{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: url(../images/contact.png);
    background-size: cover;
}

.contact .contact-content h1{
    font-size: 32px;
    font-weight: bold;
    color: #1cb7fa;  
}

.contact .contact-content p{
    font-size: 16px;
    font-weight: 300;
    color: white;  
}

.contact .contact-content{
    text-align: center;
    max-width: 900px;
}

/* Main changes to contact information company left column*/
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.contact-container .info{
    width: 50%;
    flex-direction: column;
    display: flex;
}

.contact-container  .info .box{
    padding: 25px 0;
    display: flex;
    position: relative;
}

.contact-container .info .box .icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center ;
    align-items: center;
    background: white;
    font-size: 20px;
}

.contact-container .info .box .context {
    margin-left: 20px;
    display: flex;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.contact-container .info .box .context h2{
    font-weight: 600;
    color: #1cb7fa;

}

/* Main changes for user information contact column ont the right*/
.contact-form{
    padding: 35px;
    width: 40%;
    background: white;
    border-radius: 5%;
}

.contact-form h1{
    font-weight: 600;
    color: #1cb7fa;
    font-size: 32px;
}

.contact-form .user-input{
    margin-top: 20px;
    width: 100%;
    position: relative;
}

/* Changes for reactive input and text area*/
.contact-form .user-input input, .contact-form .user-input textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    position: relative;
    resize: none;
    outline: none;
}

.contact-form .user-input input[type="submit"]{
    width: 100px;
    background: #1cb7fa;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    justify-content: center;
    border-radius: 25px;
}
